* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #57545c;
}

li {
  list-style: none;
}

button {
  max-width: 150px;
  width: 100%;
  padding: 14px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #f15d51;
  color: #fbfbf5;
  border: none;
  font-weight: 700;
  letter-spacing: 3px;

  @media screen and (min-width: 768px) {
    max-width: 300px;
    padding: 1.5rem;
    font-size: 1.5rem;
  }

  @media screen and (min-width: 992px) {
    max-width: 250px;
    font-size: 1rem;
    padding: 1rem;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.2rem;

  @media screen and (min-width: 768px) {
    max-width: 1200px;
    padding: 1rem;
  }
}

.logo-menu-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;

  @media screen and (min-width: 992px) {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-bottom: 3rem;
    align-items: center;
  }
}

.logo-item {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
  }

  h1 {
    font-size: 3rem;
    color: #00001c;
  }
}

.mobile-menu-icon {
  width: 35px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  div {
    height: 6px;
    background-color: #00001c;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.top-menu-nav {
  width: 100%;
  display: none;
  position: absolute;
  line-height: 2rem;
  flex-direction: column;
  z-index: 4;
  top: 4rem;

  &.active {
    display: flex;
  }

  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: row;
    width: 50%;
    top: 0;
    position: relative;
  }
}

.menu {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  clear: both;
  position: absolute;
  transition: top 0.2s ease-out;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.3);
  //right: -24px;
  left: 0;
  backdrop-filter: blur(12px);
  padding: 24px 0 36px 0;
  justify-content: center;

  @media screen and (min-width: 992px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
    position: relative;
  }
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 3.75rem;
    flex-direction: row;
  }
}

.main-news {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding-right: 1.5rem;
    flex: 0 0 70%;
    width: 70%;
  }
}

.main-news .big-img {
  aspect-ratio: 8 / 9;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    aspect-ratio: 16 / 8;
    object-fit: cover;
  }

  @media screen and (min-width: 992px) {
    margin-bottom: 3.125rem;
  }
}

.headline-text {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #000018;

    @media screen and (min-width: 768px) {
      font-size: 3.5rem;
      flex: 0 0 50%;
      width: 50%;
      padding-right: 3.75rem;
    }
  }
}

.text-button-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  @media screen and (min-width: 768px) {
    flex: 0 0 50%;
    width: 50%;
  }

  p {
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #57555e;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }

    @media screen and (min-width: 992px) {
      font-size: 1.5rem;
    }
  }
}

.aside-wrapper {
  margin-bottom: 40px;
  background-color: #00001a;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    padding: 2.5rem;
    width: 30%;
    flex: 0 0 30%;
  }

  @media screen and (min-width: 992px) {
    padding: 1.5rem;
  }

  h2 {
    font-size: 2rem;
    color: #e6ac52;
    margin-bottom: 2rem;

    @media screen and (min-width: 768px) {
      font-size: 1.75rem;
    }

    @media screen and (min-width: 992px) {
      font-size: 1.5rem;
    }
  }
}

.aside-item {
  margin-bottom: 15px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
  }

  &:not(:last-child) {
    border-bottom: 1px solid white;
  }

  h3 {
    font-size: 1.25rem;
    color: #fcfcf8;
    margin-bottom: 1rem;

    @media screen and (min-width: 992px) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1rem;
    color: #bcbeca;

    @media screen and (min-width: 992px) {
      font-size: 1.25rem;
    }
  }
}

.link-item {
  margin-bottom: 22px;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    margin-bottom: 3rem;
  }
}

.retro-items {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  img {
    width: 33.33%;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  padding-left: 28px;
  width: 66.66%;
  flex: 0 0 66%;

  @media screen and (min-width: 768px) {
    line-height: 1.8;
  }

  @media screen and (min-width: 992px) {
    line-height: 1.2;
  }

  h1 {
    font-size: 2rem;
    color: #7d7da5;

    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  h3 {
    font-size: 1.25rem;
    color: #04041c;

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1rem;
    color: #7e7b88;

    @media screen and (min-width: 768px) {
      font-size: 1.25rem;
    }
  }
}

.retro-link {
  flex: 0 0 100%;
  margin-bottom: 1rem;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 33.33%;
    flex: 0 0 auto;
    margin-bottom: 2.5rem;
  }
}

.retro-link-item {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
  }
}
