* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fefdf9;
}

img {
  max-width: 100%;
}

a {
  color: #000;
}

/* header */
.header {
  position: relative;
  width: 100%;
  z-index: 3;
}
@media screen and (min-width: 786px) {
  .header .header li {
    float: left;
  }
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 8px 8px;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 786px) {
  .header li a {
    padding: 20px 30px;
  }
}

.header li a:hover,
.header .menu-btn:hover {
  /*background-color: #f4f4f4;*/
  color: orangered;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: 800;
}
.header .logo:hover {
  color: orangered;
}

/* menu */
.header .menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
@media screen and (min-width: 786px) {
  .header .menu {
    flex-direction: row;
    clear: none;
    float: right;
    max-height: none;
  }
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  /*filter: invert(1);*/
}
@media screen and (min-width: 786px) {
  .header .menu-icon {
    display: none;
  }
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.container {
  padding: 10px;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1220px) {
  .container {
    padding: 16px;
  }
}

.main-news {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main-news {
    flex-direction: row;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .headline {
    flex: 0 0 70%;
    width: 70%;
    padding-right: 16px;
  }
}
.headline img {
  aspect-ratio: 16/9;
  object-fit: cover;
  margin-bottom: 15px;
  max-width: 100%;
}

.main-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .main-text {
    flex-direction: row;
  }
}
.main-text h1 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #02021b;
}
.main-text h1:hover {
  color: orangered;
}
@media screen and (min-width: 768px) {
  .main-text h1 {
    flex: 0 0 50%;
    width: 50%;
    font-size: 45px;
    padding-right: 15%;
    font-size: 3.5rem;
  }
}

.main-headline {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.article-with-button {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .article-with-button {
    flex: 0 0 50%;
    width: 50%;
  }
}
.article-with-button p {
  margin-bottom: 16px;
  font-size: 1rem;
  color: #c4c1c9;
}
@media screen and (min-width: 768px) {
  .article-with-button p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1220px) {
  .article-with-button p {
    font-size: 1.5rem;
  }
}
.article-with-button button {
  background-color: #f15d51;
  padding: 12px;
  border: none;
  margin-bottom: 40px;
  max-width: 185px;
  text-transform: uppercase;
  color: #ffe9dc;
}
.article-with-button button:hover {
  box-shadow: 2px 4px 4px hsla(0, 0%, 0%, 0.5);
  color: #00001a;
}
@media screen and (min-width: 768px) {
  .article-with-button button {
    padding: 16px;
  }
}

.aside-news {
  margin-bottom: 30px;
  background-color: #00001a;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .aside-news {
    width: 30%;
    flex: 0 0 30%;
  }
}
.aside-news h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #b68644;
}
@media screen and (min-width: 992px) {
  .aside-news h2 {
    font-size: 2.5rem;
  }
}

.aside-news-item {
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.aside-news-item:not(:last-child) {
  border-bottom: 1px solid white;
}
.aside-news-item h3 {
  margin-bottom: 16px;
  font-size: 1.125rem;
  color: #fbfbfd;
}
.aside-news-item h3:hover {
  color: orangered;
}
@media screen and (min-width: 768px) {
  .aside-news-item h3 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .aside-news-item h3 {
    font-size: 1.375rem;
  }
}
.aside-news-item p {
  margin-bottom: 0;
  font-size: 1rem;
  color: #797a8c;
}
@media screen and (min-width: 768px) {
  .aside-news-item p {
    /*font-size: 1.5rem;*/
    font-size: 1.125rem;
  }
}

.section-3-news {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.news-3-item {
  margin-bottom: 16px;
  flex-wrap: wrap;
  display: flex;
}
@media screen and (min-width: 768px) {
  .news-3-item {
    flex: 0 0 auto;
    width: 33.33%;
  }
  .news-3-item:not(:last-child) {
    padding-right: 16px;
  }
}

.link-news-item {
  display: flex;
  margin-bottom: 16px;
  text-decoration: none;
}
.link-news-item:hover {
  box-shadow: 2px 4px 4px hsla(0, 0%, 0%, 0.5);
}
.link-news-item img {
  max-width: 100%;
  width: 33.33%;
  height: 100%;
  object-fit: cover;
  padding-right: 8px;
}

.text {
  display: flex;
  line-height: 22px;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  width: 66.66%;
  flex: 0 0 66.66%;
  padding-left: 8px;
}
@media screen and (min-width: 768px) {
  .text {
    line-height: 1.5rem;
    padding-bottom: 18px;
  }
}
.text h1 {
  font-size: 2rem;
  margin-bottom: 18px;
  color: #c9c8ce;
}
.text h3 {
  font-size: 1.25rem;
  margin-bottom: 12px;
  color: #02010e;
}
.text h3:hover {
  color: orangered;
}
@media screen and (min-width: 768px) {
  .text h3 {
    font-size: 1.375rem;
  }
}
.text p {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #c4c1c9;
}
@media screen and (min-width: 768px) {
  .text p {
    font-size: 1.125rem;
    letter-spacing: 0;
  }
}

/*# sourceMappingURL=style.css.map */
